.cardProductSlider {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;

    .leftButton {

        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.14);
        border: none;
        position: absolute;
        left: 0;
        top: calc(50% - 47px / 2);

    }

    .rightButton {
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.14);
        border: none;
        position: absolute;
        right: 0;
        top: calc(50% - 47px / 2);
    }

    i {
        color: #ffffff;
        font-size: 24px;
    }
}

.cardProductDesc {
    border: 1px solid #eaeaea;
    position: relative;
    margin-top: -50px;
    display: flex;
    text-align: center;
    flex-direction: column;

    .container {
        margin: 0 auto;
        width: 618px;

        .addToCart {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 538px;
            height: 56px;
            font-size: 16px;
            font-weight: 700;
            color: #ef5b70;
            border: 1px solid #ef5b70;
            outline: none;
            margin-bottom: 122px;

            img {
                width: 26px;
                height: 24px;
                margin-right: 13px;
            }



        }
    }

    h2 {
        position: relative;
        display: inline-block;
        margin: 74px auto;
        font-size: 14px;
        line-height: 12px;
        font-weight: 700;
        color: #f16d7f;
        padding-bottom: 14px;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 18px;
        &:after {
            content: '';
            text-align: center;
            position: absolute;
            bottom: -2px;
            width: 100%;
            width: 63px;
            left: calc(50% - 63px/2);
            height: 3px;
            background: #EF5B70;
        }
    }

    h1 {
        font-size: 18px;
        line-height: 14px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
        margin-bottom: 67px;
    }

    .DescText {
        margin: 0 auto;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #5e5e5e;
        margin-bottom: 28px;
    }

    .specification {
        margin: 0 auto;
        width: 334px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #b9b9b9;

        span {
            color: #2f2f2f;
        }
    }

    h3 {
        color: #EF5B70;
        margin-top: 37px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        padding-bottom: 42px;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 63px;
    }

    .options {
        width: 538px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;


        .opt {
            width: 145px;
            height: 61px;


            .parameter {
                text-align: left;
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 14px;
                font-weight: 700;
                color: #2f2f2f;
            }

            select {
                padding-left: 16px;
                width: 145px;
                height: 36px;
                background-color: #ffffff;
                border: 1px solid #eaeaea;
                font-size: 13px;
                line-height: 10px;
                font-weight: 400;
                color: #bcbcbc;
                outline: none;
                box-sizing: border-box;

            }

            .chooseColor {
                padding-left: 27px;
                background: url(../img/redsquare.png) no-repeat 10px center;

            }


            input {
                padding-left: 16px;
                width: 145px;
                height: 34px;
                background-color: #ffffff;
                border: 1px solid #eaeaea;
                font-size: 13px;
                line-height: 10px;
                font-weight: 400;
                outline: none;
                box-sizing: border-box;

                &::-webkit-input-placeholder {
                    font-size: 13px;
                    color: #bcbcbc;

                }
            }
        }
    }
}

.also {
    margin-top: 119px;
    margin-bottom: 72px;
    height: 455px;


    h1 {
        text-align: center;
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
        margin-bottom: 72px;
    }

    .product-wrap1 {
        display: block;
        float: left;
        position: relative;
        width: 261px;
        height: 364px;
        text-align: left;
        font-size: 14px;
        border-bottom: 1px solid transparent;

        img {
            display: block;
            width: 261px;
            height: 280px;
        }

        &:not(:nth-child(5)) {
            margin-right: 25px;
        }

        &:hover {
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }

    }

}
