@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;

}

body {
    font-family: "Lato", sans-serif;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    margin-top: 96px;
    flex: 0 0 auto;
    display: flex;
    background-color: #e6e6e6;
    height: 80px;

}

.padding-site {
    width: 1142px;
    margin: 0 auto;
}
